label {
    font-size: 40px;
    font-weight: bold;
    margin-top: 1%;
    display: block;
    margin-left: 40%;
    color: #bb846b;
}

body {
    background-color: #f3ddcd;
}

.loan-table--labels th {
    background-color: #bb846b;
    color: white;
    padding: 15px;
}

.loan-list-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5%;
}

.loan-list-container table td:nth-child(7), table td:nth-child(5), table td:nth-child(4) {
    text-align: center;

}

.loan-list-container table td:last-child {
    text-align: center;
}

.loan-list-container table td {
    color: #9a6a54;
    padding-top: 0.8%;

}

.return-loan-list-button{
    padding: 1% 2%;
    border: none;
    border-radius: 4px;
    background-color: #f5cc9b;
    color: #775131;
    cursor: pointer;
}
