label {
    font-size: 40px;
    font-weight: bold;
    margin-top: 1%;
    color: #bb846b;
}

body {
    background-color: bisque;
}

.table--labels th {
    background-color: #bb846b;
    color: white;
    padding: 15px;
}

.book-list-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5%;
}

.book-list-container table td:nth-child(5), table td:nth-child(1) {
    text-align: center;
}

.book-list-container table td:last-child {
    text-align: center;
}

.book-list-container table td {
    color: #9a6a54;
    padding-top: 0.8%;
}