label {
    font-size: 40px;
    font-weight: bold;
    margin-top: 1%;
    color: #bb846b;
    margin-left: 44%;
}

body{
    background-color: bisque;
}

.table--labels th {
    background-color: #bb846b;
    color: white;
    padding: 15px;
}

.book-list-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5%;
}

.book-list-container table td:nth-child(6), table td:nth-child(1), table td:nth-child(7) {
    text-align: center;
}

.book-list-container table td:last-child {
    text-align: center;
}

.book-list-container table td {
    color: #9a6a54;
    padding-top: 0.8%;
}

.loan-book-list-button{
    padding: 1% 2%;
    border: none;
    border-radius: 4px;
    background-color: #f5cc9b;
    color: #775131;
    cursor: pointer;
}

.delete-book-list-button{
    padding: 1% 2%;
    border: none;
    border-radius: 4px;
    background-color: #d3bf9a;
    color: #775131;
    cursor: pointer;
}